<div class="row">
	<div class="col-xs-12" id="follow_form">
	  <% if current_user.follow_serie?(@serie) %>
	    <%= form_for(current_user.perfilseries.find_by(serie_id: @serie.id), html: { method: :delete }) do |f| %> 
	      <%= hidden_field_tag :serie_id, @serie.id %>
	      <%= f.submit "Unfollow", class: "btn" %>
	    <% end %>
	  <% else %>
	    <%= form_for(current_user.perfilseries.build) do |f| %>
	      <%= hidden_field_tag :serie_id, @serie.id %>
	      <%= f.submit "Follow", class: "btn btn-primary" %>
	    <% end %>
	  <% end %>
	</div>
</div>
