<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= link_to serie_path(@serie) do %>
        <%= image_tag @serie.serie_image.url, class: "serie-show"%>
      <% end %>
      <div class="btn-series">
        <% if logged_in %>
          <%= render "series/follow_button" %>
          <br>
          <% if @serie.can_edit(current_user) %>
            <%= link_to "Edit Series", edit_serie_path(@serie), class: "btn btn-default col-xs-12"%>
            <br><br><br>
            <%= link_to "Delete Series", @serie, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger col-xs-12"%>
          <%end%>
        <%end%>
      </div>
    </div>

    <div class="col-md-9">
      <%= yield :show_serie_content %>
    </div>
  </div>
</div>

<script>
  $('.fill_stars_rating').empty().raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
