<div class="row">
	<div class="col-xs-12" id="follow_form">
	  <% if current_user.following_director?(@director) %>
	    <%= form_for(current_user.directors_relationship.find_by(director_id: @director.id), html: { method: :delete }) do |f| %> 
	      <%= hidden_field_tag :director_id, @director.id %>
	      <%= f.submit "Unfollow", class: "btn" %>
	    <% end %>
	  <% else %>
	    <%= form_for(current_user.directors_relationship.build) do |f| %>
	      <%= hidden_field_tag :director_id, @director.id %>
	      <%= f.submit "Follow", class: "btn btn-primary" %>
	    <% end %>
	  <% end %>
	</div>
</div>
